<div class="crm-container">
  <div crm-ui-debug="memberships"></div>

  <form name="myForm" crm-ui-id-scope>
    <div crm-ui-accordion="{title: ts('Memberships')}">
      <div class="section">
        <button type="button" ng-click="toggleFilter()">Toggle Start Date Order</button>
      </div>
      <table class="crm-block">
        <thead>
          <tr>
            <th>Relationship</th>
            <th>Contact</th>
            <th>Type</th>
            <th>Membership Since</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Source</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="m in memberships | orderBy:'start_date':reverse">
            <td>{{m.relationship_name}}</td>
            <td>{{m.contact_name}}</td>
            <td>{{m.membership_name}}</td>
            <td>{{m.join_date}}</td>
            <td>{{m.start_date}}</td>
            <td>{{m.end_date}}</td>
            <td>{{m.source}}</td>
            <td>{{m.status_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>

</div>
